@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,600;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    letter-spacing: .3rem;
}

#my-navbar{
    padding: 1.8rem 2rem;
}

#my-navbar-brand{
    font-size: 2rem;
    font-weight: 100;
    
}
#my-navbar-brand:hover{
    font-style: italic;
    font-weight: 100;
}

#sureName{
    font-weight: 400;
}

#navbarResponsive{
    font-size: small;
}


div#navbarResponsive ul li.my-nav-item a,div#navbarResponsive ul li a{
    color: black;
}

div#navbarResponsive ul li a:hover{
    opacity: 0.5;
}

div#navbarResponsive ul li.my-nav-item a:hover{
    color: white;
    opacity: 1;
    background-color: black;
}

div#navbarResponsive ul li.my-nav-item:hover{
    background-color: black;
    color: white;
    opacity: 1;
}

/* Styling the quick intro section */
.quick-intro-img{
    background: url(../img/bg-landscape.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.524);
    height: 100vh;
    width: 100%;

}

.quick-intro-cover-bg{
    width: 100%;
    height: 100vh;
    background-color: rgb(27, 27, 41);
    opacity: 0.7;
}

.quick-intro-cover-bg div{
    padding-top: 40vh;
    opacity: 1;
}

.quick-intro-bio-wrapper{
    width: 70vw;
    margin: 20vh auto;
    letter-spacing: normal;
    font-size: 2.5rem;
    font-weight: normal;
}

/* Videos Section */

#videos-jumbotron{
    letter-spacing: normal;
    background-color: white;
    /* margin: 0 5vw;
    width: 40vw; */
    text-align: justify;
    font-weight: 400;
}

#videos-jumbotron p a{
    text-decoration: none;
    color: rgb(253, 0, 0);
}

#videos-jumbotron p a:hover{
    text-decoration: none;
    color: rgb(138, 0, 0);
}

#videos-jumbotron h1{
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.videos-section-wrapper #videos-jumbotron .justify-content-around a{
    width: 40%;
    margin: 10% 0;
}

#slide-how-carousel, #slide-how-carousel-2{
    margin: auto;
}

/* footer section */

footer{
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: fit-content;
    padding: 0 0;
    margin: 0 0;
    color: white;
    background-color: rgb(15, 17, 37);
    letter-spacing: normal;
}

.subscribe-wrapper{
    position: absolute;
    min-height: fit-content;
    bottom: -6rem;
    left: 9vw;
    width: 80%;
    border-radius: 10px;
    background: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#subscribe-wrapper-inner{
    background-color: rgba(0, 0, 0, 0.4);
    min-height: fit-content;
    border-radius: 10px;
    padding-top: 2rem;
}

.quote-in-subscribe{
    color: white;
    letter-spacing: normal;
    font-size: medium;
    font-weight: bold;
}

.copy-right-wrapper{
    margin-top: 7rem;
}

footer a{
    text-decoration: none;
    color: rgb(253, 0, 0);
}

footer a:hover{
    text-decoration: none;
    color: rgb(138, 0, 0);
}

/* start of about me page */

.about-me-page-content{
    min-height: 50rem;
}

.about-me-big-text{
    height: fit-content;
    font-size:5vw;
    font-weight: bold;
    padding-top: 1vw;
}

.my-avatar-image{
    border-radius: 3rem 3rem 3rem 3rem;
    max-width: 80vw;
    margin: auto;
}

.media-body{
    letter-spacing: normal;
    line-height: 2rem;
    margin-top: 1rem;
    padding: 4rem;
    padding-top: 0;
}

.role-models{
    min-height:max-content;
    margin-bottom: 5rem;
}

.role-models-title{
    font-size: 3rem;
    font-weight: bold;
}

.card-elon-musk{
    width: 30%;
    letter-spacing:normal;
    line-height: 2rem;
}

/* End of about me page */


/* media queries */
@media only screen and (min-width: 992px) {
    .my-avatar-image{
        border-radius: 5rem 0 0 5rem;
    }
  }


/* blog page */


.blog-page-content{
    min-height: 50rem;
}

.blog-big-text{
    height: fit-content;
    font-size:5vw;
    font-weight: bold;
    padding-top: 1vw;
}

.blog-page-content .card{
    letter-spacing: normal;
    text-align: justify;
}

/* blog page end */

/* books page */
.books-page-content{
    min-height: 50rem;
}

.books-big-text{
    height: fit-content;
    font-size:5vw;
    font-weight: bold;
    padding-top: 1vw;
}

.books-subtitle{
    font-size: 1.5rem;
    letter-spacing: normal;
    padding-bottom: 1.5rem;
}

.media{
    border-radius: 1rem;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
/* books page */
