@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    letter-spacing: .3rem;
}

#my-navbar{
    padding: 1.8rem 2rem;
}

#my-navbar-brand{
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.2rem;
    transition: all 3s ease;
}
#my-navbar-brand:hover{
    font-style: italic;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.2rem;
}

#sureName{
    font-weight: 400;
}

#navbarResponsive{
    font-size: small;
}


div#navbarResponsive ul li.my-nav-item a,div#navbarResponsive ul li a{
    color: black;
}

div#navbarResponsive ul li a:hover{
    opacity: 0.5;
}

div#navbarResponsive ul li.my-nav-item a:hover{
    color: white;
    opacity: 1;
    background-color: black;
}

div#navbarResponsive ul li.my-nav-item:hover{
    background-color: black;
    color: white;
    opacity: 1;
}

/* Styling the quick intro section */
.quick-intro-img{
    background: url(/assets/img/bg-landscape.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.524);
    height: 100vh;
    width: 100%;

}

.quick-intro-cover-bg{
    width: 100%;
    height: 100vh;
    background-color: rgb(27, 27, 41);
    opacity: 0.7;
}

.quick-intro-cover-bg div{
    padding-top: 40vh;
    opacity: 1;
}

.quick-intro-bio-wrapper{
    width: 70vw;
    margin: 20vh auto;
    letter-spacing: normal;
    font-size: 2.5rem;
    font-weight: normal;
}

/* Videos Section */

#videos-jumbotron{
    letter-spacing: normal;
    background-color: white;
    /* margin: 0 5vw;
    width: 40vw; */
    text-align: justify;
    font-weight: 400;
}

#videos-jumbotron h1{
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.videos-section-wrapper #videos-jumbotron .justify-content-around a{
    width: 40%;
    margin: 10% 0;
}

#slide-how-carousel, #slide-how-carousel-2{
    margin: auto;
}

/* footer section */

footer{
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 10rem;
    padding: 0 0;
    margin: 0 0;
    color: white;
    background-color: rgb(15, 17, 37);
    letter-spacing: normal;
}

.subscribe-wrapper{
    position: absolute;
    height: 20vh;
    bottom: -6rem;
    left: 9vw;
    width: 80%;
    border-radius: 10px;
    background: url(/assets/img/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.quote-in-subscribe{
    color: white;
    letter-spacing: normal;
    font-size: medium;
    font-weight: bold;
}

.copy-right-wrapper{
    margin-top: 7rem;
}

footer a{
    text-decoration: none;
    color: rgb(253, 0, 0);
}

footer a:hover{
    text-decoration: none;
    color: rgb(138, 0, 0);
}